openapi: 3.1.0
info:
  title: AnchorBrowser API
  version: 1.0.0
  description: |
    Anchor Browser ([anchorbrowser.io](https://anchorbrowser.io)) provides cloud browsers built
    for AI agents and automation. Use this API to launch and control browser sessions, run
    natural-language web tasks, authenticate into third-party web apps with managed identities,
    and capture recordings — reliably and at scale, without operating browser infrastructure
    yourself.

    ## Core resources
    - **Sessions** (`/v1/sessions`): launch configurable cloud browsers — residential proxies,
      stealth browsing, captcha solving, profiles, extensions, recording — and connect over CDP
      with Playwright, Puppeteer, or any CDP client.
    - **AI tools** (`/v1/tools/perform-web-task`): state a goal in natural language and the
      built-in agent completes it inside the browser. Related tools fetch webpages, take
      screenshots, render PDFs, and execute code in a session.
    - **Tasks** (`/v1/task`): create, version, deploy, and monitor repeatable browser
      automations built to run reliably in production.
    - **Applications and identities** (`/v1/applications`, `/v1/identities`): managed
      authentication into third-party web apps — including multi-step logins and TOTP-based
      2FA — so agents can act on behalf of users.
    - **Profiles** (`/v1/profiles`): persist cookies and login state across sessions.
    - **OS-level control** (`/v1/sessions/{sessionId}/mouse`, `/keyboard`, `/clipboard`):
      raw input for flows that resist DOM automation.
    - Plus batch sessions for running browser fleets in parallel, session recordings, webhooks,
      events, extensions, client certificates, and billing usage.

    ## Authentication
    Pass an API key in the `anchor-api-key` header on every request. Create keys at
    [app.anchorbrowser.io](https://app.anchorbrowser.io) under API Access. AI agents that have
    no key yet can obtain one autonomously through the unauthenticated
    [agent-access flow](https://docs.anchorbrowser.io/quickstart/agent-access)
    (`POST /v1/agent-access`).

    ## For AI agents and LLMs
    - Docs: [docs.anchorbrowser.io](https://docs.anchorbrowser.io), with a machine-readable
      index at [/llms.txt](https://docs.anchorbrowser.io/llms.txt) and the full corpus at
      [/llms-full.txt](https://docs.anchorbrowser.io/llms-full.txt).
    - MCP server for hosted browser control: `https://api.anchorbrowser.io/mcp`.
    - Official SDKs: `anchorbrowser` on [npm](https://www.npmjs.com/package/anchorbrowser) and
      [PyPI](https://pypi.org/project/anchorbrowser/).

    `DELETE` operations terminate sessions or permanently remove resources (profiles,
    identities, extensions); `GET` operations are safe and read-only.
servers:
  - url: https://api.anchorbrowser.io
    description: API server
components:
  securitySchemes:
    api_key_header:
      type: apiKey
      in: header
      name: anchor-api-key
      description: |
        API key for your Anchor Browser account, sent as the `anchor-api-key` header on every
        request. Create one at [app.anchorbrowser.io](https://app.anchorbrowser.io) (API Access),
        or obtain one programmatically via the unauthenticated agent-access flow
        (`POST /v1/agent-access`).
  schemas:
    # ==============================
    # SHARED RESPONSE SCHEMAS
    # ==============================
    # These schemas are used across multiple resources
    SuccessResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            status:
              type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string

    # ==============================
    # PROXY CONFIGURATION SCHEMAS
    # ==============================
    ProxyConfig:
      description: |
        Proxy Documentation available at [Proxy Documentation](/advanced/proxy)
      type: object
      oneOf:
        - $ref: '#/components/schemas/AnchorProxy'
        - $ref: '#/components/schemas/CustomProxy'

    AnchorProxy:
      title: Anchor Proxy
      type: object
      properties:
        active:
          type: boolean
        type:
          type: string
          enum: [anchor_proxy]
          description: Create a session with a proxy to access websites as if you're browsing from a computer in that country.
          title: anchor_proxy
        country_code:
          $ref: '#/components/schemas/AnchorProxyCountryCode'
          description: |
            Supported country codes ISO 2 lowercase
        region:
          type: string
          description: |
            Region code for more specific geographic targeting.
            The city parameter can only be used when region is also provided.
        city:
          type: string
          description: |
            City name for precise geographic targeting. Supported for anchor_proxy only.
            Can only be used when region is also provided.
      required: [active]

    CustomProxy:
      title: Custom Proxy
      type: object
      properties:
        type:
          type: string
          enum: [custom]
        server:
          type: string
          description: Proxy address in **PROTOCOL://HOST:PORT** format (e.g., https://proxy.example.com:443). See [Bring Your Own Proxy](/advanced/bring-your-own-proxy).
        username:
          type: string
          description: Proxy username
        password:
          type: string
          description: Proxy password
        active:
          type: boolean
      required: [type, server, username, password, active]

    AnchorProxyCountryCode:
      type: string
      title: anchor_proxy
      enum:
        [
          af,
          al,
          dz,
          ad,
          ao,
          as,
          ag,
          ar,
          am,
          aw,
          au,
          at,
          az,
          bs,
          bh,
          bb,
          by,
          be,
          bz,
          bj,
          bm,
          bo,
          ba,
          br,
          bg,
          bf,
          cm,
          ca,
          cv,
          td,
          cl,
          co,
          cg,
          cr,
          ci,
          hr,
          cu,
          cy,
          cz,
          dk,
          dm,
          do,
          ec,
          eg,
          sv,
          ee,
          et,
          fo,
          fi,
          fr,
          gf,
          pf,
          ga,
          gm,
          ge,
          de,
          gh,
          gi,
          gr,
          gd,
          gp,
          gt,
          gg,
          gn,
          gw,
          gy,
          ht,
          hn,
          hu,
          is,
          in,
          ir,
          iq,
          ie,
          il,
          it,
          jm,
          jp,
          jo,
          kz,
          kw,
          kg,
          lv,
          lb,
          ly,
          li,
          lt,
          lu,
          mk,
          ml,
          mt,
          mq,
          mr,
          mx,
          md,
          mc,
          me,
          ma,
          nl,
          nz,
          ni,
          ng,
          no,
          pk,
          pa,
          py,
          pe,
          ph,
          pl,
          pt,
          pr,
          qa,
          ro,
          lc,
          sm,
          sa,
          sn,
          rs,
          sc,
          sl,
          sk,
          si,
          so,
          za,
          kr,
          es,
          sr,
          se,
          ch,
          sy,
          st,
          tw,
          tj,
          tg,
          tt,
          tn,
          tr,
          tc,
          ua,
          ae,
          us,
          uy,
          uz,
          ve,
          ye,
        ]
      default: us
    # ==============================
    # PROFILE SCHEMAS
    # ==============================
    ProfileRequestSchema:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: The name of the profile.
        description:
          type: string
          description: A description of the profile.
        source:
          type: string
          description: The source of the profile data. currently only `session` is supported.
          enum:
            - session
        session_id:
          type: string
          format: uuid
          description: The browser session ID is required if the source is set to `session`. The browser session must be running, and the profile will be stored once the browser session terminates.
        dedicated_sticky_ip:
          type: boolean
          description: Whether to use a dedicated sticky IP for this profile. Defaults to false.

    ProfileResponseSchema:
      type: object
      properties:
        name:
          type: string
          description: The name of the profile.
        description:
          type: string
          description: A description of the profile.
        source:
          type: string
          description: The source of the profile data.
          enum:
            - session
        session_id:
          type: string
          format: uuid
          description: The browser session ID used to create this profile, if applicable.
        status:
          type: string
          description: The current status of the profile.
        created_at:
          type: string
          format: date-time
          description: The timestamp when the profile was created.

    ProfileListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            count:
              type: integer
              description: Total number of profiles
            items:
              type: array
              items:
                $ref: '#/components/schemas/ProfileResponseSchema'

    ProfileResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ProfileResponseSchema'

    # ==============================
    # BROWSER SESSION SCHEMAS
    # ==============================
    SessionConfig:
      type: object
      description: Session-related configurations.
      properties:
        initial_url:
          type: string
          format: uri
          description: The URL to navigate to when the browser session starts. If not provided, the browser will load an empty page.
        tags:
          type: array
          items:
            type: string
          description: Custom labels to categorize and identify browser sessions. Useful for filtering, organizing, and tracking sessions across your workflows.
          example: ['production', 'scraping', 'customer-123']
        recording:
          type: object
          description: Configuration for session recording.
          properties:
            active:
              type: boolean
              description: Enable or disable video recording of the browser session. Defaults to `true`.
        proxy:
          $ref: '#/components/schemas/ProxyConfig'
        timeout:
          type: object
          description: Timeout configurations for the browser session.
          properties:
            max_duration:
              type: integer
              description: Maximum time (in minutes) the session can run before automatically terminating. Defaults to `20`. Set to `-1` to disable this limit.
            idle_timeout:
              type: integer
              description: Time (in minutes) the session waits for new connections after all others are closed before stopping. Defaults to `5`. Set to `-1` to disable this limit.
        live_view:
          type: object
          description: Configuration for live viewing the browser session.
          properties:
            read_only:
              type: boolean
              description: Enable or disable read-only mode for live viewing. Defaults to `false`.
            one_time_url:
              type: boolean
              description: >-
                Generate a single-use live view URL. After the first viewer connects,
                the link becomes invalid. Requires a headful browser. Defaults to `false`.
        x402:
          type: boolean
          default: false
          description: Allow this browser session to automatically pay x402-protected resources using Amazon Bedrock AgentCore Payments.

    putSessionTags:
      type: object
      description: Update/Create Browser Session tags, will overwrite existing tags
      required:
        - tags
      properties:
        tags:
          type: array
          items:
            type: string
          description: Tags to set on the session. Replaces any existing tags.
          example: ['production', 'scraping', 'customer-123']

    SessionTagsResponse:
      type: object
      required:
        - tags
      properties:
        tags:
          type: array
          nullable: true
          items:
            type: string
          description: Tags currently associated with the session, or null if none are set.

    SessionTagsMutationResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          description: Whether the tags operation succeeded.
        message:
          type: string
          description: Human-readable result message.

    BrowserConfig:
      type: object
      description: Browser-specific configurations.
      properties:
        profile:
          type: object
          description: Options for managing and persisting browser session profiles.
          properties:
            name:
              type: string
              description: The name of the profile to be used during the browser session.
            persist:
              type: boolean
              description: Indicates whether the browser session profile data should be saved when the browser session ends. Defaults to `false`.
        adblock:
          type: object
          description: Configuration for ad-blocking.
          properties:
            active:
              type: boolean
              description: Enable or disable ad-blocking. Defaults to `true`.
        popup_blocker:
          type: object
          description: Configuration for popup blocking.
          properties:
            active:
              type: boolean
              description: Blocks popups, including ads and CAPTCHA consent banners. Requires adblock to be active. Defaults to `true`.
        captcha_solver:
          type: object
          description: Configuration for captcha-solving.
          properties:
            active:
              type: boolean
              description: Enable or disable captcha-solving. Requires proxy to be active. Defaults to `false`.
        headless:
          type: object
          description: Configuration for headless mode.
          properties:
            active:
              type: boolean
              description: Whether browser should be headless or headful. Defaults to `false`.
        viewport:
          type: object
          description: Configuration for the browser's viewport size.
          properties:
            width:
              type: integer
              description: Width of the viewport in pixels. Defaults to `1440`.
            height:
              type: integer
              description: Height of the viewport in pixels. Defaults to `900`.
        fullscreen:
          type: object
          description: Configuration for fullscreen mode.
          properties:
            active:
              type: boolean
              description: Enable or disable fullscreen mode. When enabled, the browser will start in fullscreen mode. Defaults to `false`.
        pdf_viewer:
          type: object
          description: Configuration for PDF viewer mode.
          properties:
            active:
              type: boolean
              description: Enable or disable PDF viewer mode. When disabled, the browser will download PDFs instead of viewing them. Defaults to `true`.
        p2p_download:
          type: object
          description: Configuration for peer-to-peer download capture functionality.
          properties:
            active:
              type: boolean
              description: Enable or disable P2P downloads. When enabled, the browser will capture downloads for direct data extraction, instead of uploading them on Anchor's storage. Defaults to `false`.
        extensions:
          type: array
          description: Array of extension IDs to load in the browser session. Extensions must be previously uploaded using the Extensions API.
          items:
            type: string
            format: uuid
        disable_web_security:
          type: object
          description: Configuration for disabling web security features.
          properties:
            active:
              type: boolean
              description: Whether to disable web security features (CORS, same-origin policy, etc.). Allows accessing iframes and resources from different origins. Defaults to `false`.
        extra_stealth:
          type: object
          description: Enables our dedicated patched Chromium build, designed to avoid bot detection and blocking. Works with Anchor Proxy enabled only.
          properties:
            active:
              type: boolean
              description: Enable or disable extra stealth mode.
        force_popups_as_tabs:
          type: object
          description: Configuration for forcing popups to open as tabs instead of popup windows.
          properties:
            active:
              type: boolean
              description: Enable or disable forcing popups as tabs. Defaults to `false`.
        web_bot_auth:
          type: object
          description: Configuration for Cloudflare Web Bot Auth HTTP message signing. Enables authentication with websites that require Cloudflare's web bot authentication.
          properties:
            active:
              type: boolean
              description: Enable or disable web bot auth. Defaults to `false`.
        disable_dialogs:
          type: object
          description: Suppresses native browser dialogs (window.alert, window.confirm, window.prompt). Useful for automated workflows where dialogs would block execution.
          properties:
            active:
              type: boolean
              description: Enable or disable suppression of native browser dialogs. Defaults to `false`.
        tracing:
          type: object
          description: Configuration for browser tracing and debugging capabilities.
          properties:
            active:
              type: boolean
              description: Enable or disable tracing. Defaults to `true`.
            snapshots:
              type: boolean
              description: Enable or disable snapshot capture in traces. Defaults to `false`.
            sources:
              type: boolean
              description: Enable or disable source code capture in traces. Defaults to `true`.
        sensitive_data_mask:
          type: object
          description: Automatically detects and masks sensitive data (passwords, emails, phone numbers, credit card fields, tokens) in web pages. Supports custom CSS selectors globally or per site, and custom regex patterns.
          properties:
            active:
              type: boolean
              description: Enable or disable sensitive data masking. Defaults to `false`.
            custom_selectors:
              type: array
              items:
                type: string
              description: Additional CSS selectors to mask globally across all sites. Matched elements will be blurred.
            site_selectors:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
              description: Per-site CSS selectors. Keys are hostnames (supports wildcard prefix like `*.bank.com`), values are arrays of CSS selectors. Matched elements will be blurred.
            custom_patterns:
              type: array
              items:
                type: object
                properties:
                  regex:
                    type: string
                    description: Regular expression pattern to match sensitive data.
                  mask:
                    type: string
                    description: Replacement string for matched text. Defaults to `****`.
              description: Custom regex patterns to detect and mask additional sensitive data types.

    SessionCreateRequestSchema:
      type: object
      properties:
        session:
          $ref: '#/components/schemas/SessionConfig'
        browser:
          $ref: '#/components/schemas/BrowserConfig'
        integrations:
          type: array
          description: Array of integrations to load in the browser session. Integrations must be previously created using the Integrations API.
          items:
            $ref: '#/components/schemas/Integration'
          example:
            [
              {
                'id': '550e8400-e29b-41d4-a716-446655440000',
                'type': '1PASSWORD',
                'configuration': { 'load_mode': 'all' },
              },
            ]
        identities:
          description: |
            Activates an authenticated session.
          type: array
          items:
            type: object
            description: Previously configured identity to be used for the authenticated session.
            properties:
              id:
                type: string
                description: The identity ID to use for the browser session.
          example: [{ 'id': '123e4567-e89b-12d3-a456-426614174000' }]
        identity_skip_validation:
          type: boolean
          default: true
          description: |
            When `true` (default), skip profile validation for active identities and reuse the saved
            browser profile. Set to `false` to validate the profile and re-authenticate if it is no
            longer signed in. Pending identities still authenticate on first use.
        identity_async_auth:
          type: boolean
          default: false
          description: Run identity authentication in the background and return the session immediately.

    SessionCreateResponseSchema:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              description: Unique identifier for the browser session
            cdp_url:
              type: string
              description: The CDP websocket connection string
            live_view_url:
              type: string
              description: The browser session live view url

    AsyncSessionCreateResponseSchema:
      type: object
      properties:
        data:
          type: object
          required:
            - request_id
            - status
            - session_id
          properties:
            request_id:
              type: string
              format: uuid
              description: |
                Identifier of the async request. Use it to poll
                `GET /v1/sessions/async/{request_id}/status` for the resolved
                `session_id`, `cdp_url` and `live_view_url` once the pod
                comes up.
            status:
              type: string
              enum: [pending]
              description: Always `pending` immediately after creation.
            session_id:
              type: 'null'
              description: Always `null` immediately after creation; resolved via the polling endpoint.

    AsyncSessionStatusResponseSchema:
      type: object
      description: |
        Polling response for `GET /v1/sessions/async/{request_id}/status`.
      properties:
        data:
          type: object
          required:
            - request_id
            - status
            - created_at
            - progress
          properties:
            request_id:
              type: string
              format: uuid
              description: The `request_id` returned from `POST /v1/sessions/async`.
            status:
              type: string
              enum: [pending, processing, ready, completed, failed, cancelled]
              description: |
                Lifecycle of the async request itself. `ready` is surfaced once
                the underlying browser pod is up and the session is connectable.
            created_at:
              type: string
              format: date-time
              description: When the async request was accepted.
            session:
              $ref: '#/components/schemas/BatchSessionItemSchema'
              description: |
                The single browser session backing this async request.
                Absent until the underlying pod registers and the session row
                is inserted.
            progress:
              type: object
              required:
                - current_phase
              properties:
                current_phase:
                  type: string
                  enum: [queued, provisioning, configuring, ready]
                  description: The session's current pod-provisioning phase.

    SessionStatus:
      type: object
      properties:
        session_id:
          type: string
          description: Unique identifier for the browser session
        status:
          type: string
          description: Current status of the browser session
        tags:
          type: array
          items:
            type: string
          description: Custom labels assigned to this browser session
        created_at:
          type: string
          format: date-time
          description: Timestamp when the browser session was created
      required:
        - session_id
        - status
        - created_at

    SessionListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            count:
              type: integer
              description: Total number of browser sessions
            items:
              type: array
              items:
                $ref: '#/components/schemas/SessionStatus'

    SessionHistoryPageItem:
      type: object
      description: A single session record in paginated history listing.
      properties:
        id:
          type: string
          description: Unique session identifier.
        status:
          type: string
          description: Current session status.
        tags:
          type: array
          nullable: true
          description: Tags associated with the session.
          items:
            type: string
        headless:
          type: boolean
          description: Whether the session ran in headless mode.
        recording:
          type: boolean
          description: Whether recording was enabled for the session.
        used_credits:
          oneOf:
            - type: number
            - type: string
              pattern: '^-?\d+(\.\d+)?$'
            - type: string
              enum: ['N/A']
          description: Credits consumed by the session (number or decimal string), or `N/A` while still running.
        proxy_bytes:
          type: number
          nullable: true
          description: Proxy bandwidth used in bytes.
        proxy_type:
          type: string
          nullable: true
          description: Proxy type configured for the session.
        steps:
          type: number
          nullable: true
          description: Number of AI/browser steps recorded.
        duration:
          type: number
          nullable: true
          description: Session duration in seconds.
        created_at:
          type: string
          format: date-time
          description: Session creation timestamp in UTC ISO 8601 format.
        user_configuration:
          type: object
          additionalProperties: true
          description: Full user configuration payload saved for the session.
        task_initiated:
          type: boolean
          description: Whether the session was initiated by a task execution.
        task_executions_count:
          type: number
          description: Number of non-internal task executions associated with this session.
        api_key_name:
          type: string
          description: Display name of the API key that created the session.
        browser_ip:
          type: string
          nullable: true
          description: Browser/proxy IP observed for the session.
        domains:
          type: array
          nullable: true
          description: Domains observed during session execution.
          items:
            type: string
      required:
        - id
        - status
        - headless
        - recording
        - used_credits
        - created_at
        - user_configuration
        - task_initiated
        - task_executions_count
        - api_key_name
        - browser_ip

    SessionHistoryPageResponse:
      type: object
      description: Paginated session history listing response.
      properties:
        data:
          type: object
          properties:
            sessions:
              type: array
              description: Session records in the current page.
              items:
                $ref: '#/components/schemas/SessionHistoryPageItem'
            total:
              type: number
              description: Total number of matching sessions.
            page:
              type: number
              description: Current page number.
            total_pages:
              type: number
              description: Total number of pages.
          required:
            - sessions
            - total
            - page
            - total_pages

    SessionHistoryDataPoint:
      type: object
      properties:
        date:
          type: string
          description: Date/time period for this data point.
        session_count:
          type: number
          description: Number of sessions created in this period.
        proxy_bytes:
          type: number
          description: Total proxy bytes used in this period.
        ai_steps:
          type: number
          description: Total AI steps taken in this period.
        session_hours:
          type: number
          description: Total session hours in this period (duration/3600).
        credits_used:
          type: number
          description: Total credits used in this period.
        screenshots:
          type: number
          description: Total screenshots taken in this period.
        network_bytes_total:
          type: number
          description: Total network bytes sent and received in this period.

    SessionHistorySummary:
      type: object
      properties:
        total_sessions:
          type: number
          description: Total number of sessions in the time range.
        total_proxy_bytes:
          type: number
          description: Total proxy bytes used in the time range.
        total_ai_steps:
          type: number
          description: Total AI steps taken in the time range.
        total_session_hours:
          type: number
          description: Total session hours in the time range.
        total_credits_used:
          type: number
          description: Total credits used in the time range.
        total_screenshots:
          type: number
          description: Total screenshots taken in the time range.
        total_network_bytes_total:
          type: number
          description: Total network bytes sent and received in the time range.

    SessionHistoryPagination:
      type: object
      properties:
        current_page:
          type: integer
        total_pages:
          type: integer
        total_records:
          type: integer
        has_next:
          type: boolean
        has_prev:
          type: boolean

    SessionHistoryResponse:
      type: object
      properties:
        data:
          type: array
          description: Historical data points.
          items:
            $ref: '#/components/schemas/SessionHistoryDataPoint'
        summary:
          $ref: '#/components/schemas/SessionHistorySummary'
        pagination:
          $ref: '#/components/schemas/SessionHistoryPagination'

    BillingInfoResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            credits:
              type: number
              description: Available credit balance for the authenticated project.
            credits_used:
              type: number
              description: Credits used in the current billing period.
            included_credits:
              type: number
              description: Credits included in the current tier before overage.
            billing_period:
              type: string
              description: Current billing period in YYYY-MM format.
            tier:
              type: string
              description: Billing tier for the project.
            gifts_balance:
              type: number
              description: Available gift or prepaid credit balance before applicable overage.
            max_concurrent_browsers:
              type: number
              description: Maximum concurrent browser sessions allowed for the project. `-1` means unlimited.
            cost_limit:
              type: number
              nullable: true
              description: Optional configured credit spend limit for the project.
          required:
            - credits
            - credits_used
            - included_credits
            - billing_period
            - tier
        usage:
          type: object
          description: >-
            Credits-usage time series. Present only when at least one of the `from_date`, `to_date`,
            or `granularity` query parameters is provided. Sums per-session credits bucketed by
            session creation time (UTC); recent buckets can still grow while sessions settle.
            Unlocker credits are tracked per calendar month and are not included in this series, so
            the bucket total can be lower than `credits_used`. The series matches
            `GET /v1/sessions/history?metrics=credits_used`.
          properties:
            from_date:
              type: string
              format: date-time
              description: Resolved start of the aggregation window.
            to_date:
              type: string
              format: date-time
              description: Resolved end of the aggregation window.
            granularity:
              type: string
              enum: [hour, day, week, month]
              description: Bucket size used for aggregation.
            total_credits_used:
              type: number
              description: Sum of credits used across the window.
            data:
              type: array
              description: Buckets ordered newest first. Periods with no sessions are omitted.
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date-time
                    description: Start of the bucket (ISO 8601, UTC).
                  credits_used:
                    type: number
                    description: Credits used in this bucket.
                required:
                  - date
                  - credits_used
          required:
            - from_date
            - to_date
            - granularity
            - total_credits_used
            - data

    # ==============================
    # RECORDING SCHEMAS
    # ==============================
    RecordingItem:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the recording
        is_primary:
          type: boolean
          description: Indicates if this is the primary recording
        file_link:
          type: string
          description: URL to access the recording file
        suggested_file_name:
          type: string
          description: Suggested filename for the recording
        duration:
          type: string
          description: Duration of the recording
        size:
          type: number
          description: Size of the recording file in bytes
        created_at:
          type: string
          format: date-time
          description: Timestamp when the recording was created

    RecordingListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            count:
              type: integer
              description: Total number of video recordings
            items:
              type: array
              items:
                $ref: '#/components/schemas/RecordingItem'

    # ==============================
    # DOWNLOAD SCHEMAS
    # ==============================
    DownloadItem:
      type: object
      properties:
        id:
          type: string
          description: The unique ID of the download record.
        file_link:
          type: string
          format: uri
          description: The URL to download the file from anchorbrowser servers. Requires api key authentication.
        original_download_url:
          type: string
          format: uri
          description: The URL used to download the file.
        origin_url:
          type: string
          format: uri
          description: The original URL where the file was found.
        suggested_file_name:
          type: string
          description: The suggested file name for saving the file.
        original_file_name:
          type: string
          description: The original file name before any modification.
        duration:
          type: integer
          description: The time it took to process or download the file, in milliseconds.
        size:
          type: integer
          description: The size of the file in bytes.
        created_at:
          type: string
          format: date-time
          description: The timestamp when the file record was created.

    DownloadListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            count:
              type: integer
              description: Total number of downloads
            items:
              type: array
              items:
                $ref: '#/components/schemas/DownloadItem'

    # ==============================
    # TOOL SCHEMAS
    # ==============================
    FetchWebpageRequestSchema:
      type: object
      properties:
        url:
          type: string
          description: The URL of the webpage or PDF to fetch content from. When left empty, the current webpage is used.
        format:
          type: string
          description: The output format of the content.
          enum:
            - html
            - markdown
        wait:
          type: integer
          description: The time to wait for **dynamic** content to load in **milliseconds**.
        new_page:
          type: boolean
          description: Whether to create a new page for the content.
        page_index:
          type: integer
          description: The index of the page to fetch content from. **Overides new_page**.
        return_partial_on_timeout:
          type: boolean
          description: Whether to return partial content if the content is not loaded within the 20 seconds.

    WebUnlockerRequestSchema:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          description: The fully-qualified URL to fetch (e.g. `https://www.linkedin.com/company/openai`).

    ExecuteCodeRequestSchema:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: TypeScript snippet (async function body) with injected page, browser, context, sessionId, anchorClient.

    ExecuteCodeToolResponseSchema:
      type: object
      required:
        - success
        - message
      properties:
        success:
          type: boolean
        message:
          type: string
        output:
          type: string
          description: JSON string of the return value when execution succeeds.
        error:
          type: string
        executionResultId:
          type: string
          format: uuid

    PerformWebTaskRequestSchema:
      type: object
      required:
        - prompt
      properties:
        url:
          type: string
          description: The URL of the webpage. If not provided, the tool will use the current page in the session.
        prompt:
          type: string
          description: The task to be autonomously completed.
        agent:
          type: string
          description: The AI agent to use for task completion. Defaults to browser-use.
          enum:
            - browser-use
            - openai-cua
            - gemini-computer-use
            - anthropic-cua
            - yutori
        provider:
          type: string
          description: The AI provider to use for task completion.
          enum:
            - openai
            - gemini
            - groq
            - azure
            - xai
        model:
          type: string
          description: The specific model to use for task completion. see our [models](/agentic-browser-control/ai-task-completion#available-models) page for more information.
        detect_elements:
          type: boolean
          description: Enable element detection for better interaction accuracy. Improves the agent's ability to identify and interact with UI elements.
        human_intervention:
          type: boolean
          description: Allow human intervention during task execution. When enabled, the agent can request human input for ambiguous situations.
        max_steps:
          type: integer
          description: Maximum number of steps the agent can take to complete the task. Defaults to 200.
        llm_timeout:
          type: integer
          minimum: 10
          maximum: 600
          description: Timeout in seconds for each LLM call made by the agent (browser-use agent only). Raise it when tasks with deep context (long histories, large pages) hit LLM call timeouts. When omitted, the agent uses its model-based defaults.
        secret_values:
          type: object
          additionalProperties:
            type: string
          description: Secret values to pass to the agent for secure credential handling. Keys and values are passed as environment variables to the agent.
        highlight_elements:
          type: boolean
          description: Whether to highlight elements during task execution for better visibility.
        output_schema:
          type: object
          description: JSON Schema defining the expected structure of the output data.
        async:
          type: boolean
          description: Whether to run the task asynchronously. If true, the task will be run asynchronously and the response will include a workflow ID.
          default: false

    PerformWebTaskSyncResponseData:
      type: object
      title: sync
      properties:
        result:
          type: object
          description: The outcome or answer produced by the autonomous task.
      required:
        - result

    PerformWebTaskAsyncResponseData:
      type: object
      title: async
      properties:
        status:
          type: string
          enum:
            - running
          description: The status of the asynchronous task execution.
        workflow_id:
          type: string
          description: The workflow ID for tracking the asynchronous task execution.
      required:
        - status
        - workflow_id

    PerformWebTaskResponseSchema:
      type: object
      properties:
        data:
          oneOf:
            - $ref: '#/components/schemas/PerformWebTaskSyncResponseData'
            - $ref: '#/components/schemas/PerformWebTaskAsyncResponseData'
          x-oneOf-labels:
            - sync
            - async

    PerformWebTaskStatusSuccessResponseData:
      type: object
      title: success
      properties:
        status:
          type: string
          enum:
            - COMPLETED
          description: The workflow has completed successfully.
        result:
          type: object
          description: The outcome or answer produced by the autonomous task.
        sessionId:
          type: string
          description: Browser session the task ran on. Omitted when the job has no session.
      required:
        - status
        - result

    PerformWebTaskStatusRunningResponseData:
      type: object
      title: running
      properties:
        status:
          type: string
          enum:
            - RUNNING
          description: The workflow is currently running.
        sessionId:
          type: string
          description: Browser session the task ran on. Present as soon as the job exists when a session was created or reused. Omitted when the job has no session.
      required:
        - status

    PerformWebTaskStatusFailedResponseData:
      type: object
      title: failed
      properties:
        status:
          type: string
          enum:
            - FAILED
          description: The workflow has failed.
        error:
          type: string
          description: Error message describing why the workflow failed.
        sessionId:
          type: string
          description: Browser session the task ran on. Omitted when the job has no session.
      required:
        - status
        - error

    PerformWebTaskStatusResponseSchema:
      type: object
      properties:
        data:
          type: object
          oneOf:
            - $ref: '#/components/schemas/PerformWebTaskStatusSuccessResponseData'
            - $ref: '#/components/schemas/PerformWebTaskStatusRunningResponseData'
            - $ref: '#/components/schemas/PerformWebTaskStatusFailedResponseData'
      required:
        - data

    # ==============================
    # HUMAN INTERVENTION SCHEMAS
    # ==============================
    HumanInterventionField:
      type: object
      properties:
        name:
          type: string
          description: Field identifier used in the response payload.
        label:
          type: string
          description: Human-readable label displayed in the UI.
        description:
          type: string
          nullable: true
          description: Optional helper text for the field.
        required:
          type: boolean
          nullable: true
          description: Whether the field must be filled before submitting a response.
        type:
          type: string
          nullable: true
          enum: [text, number, url, email, password]
          description: Input type for the field.
        placeholder:
          type: string
          nullable: true
          description: Placeholder text shown in the input.
        defaultValue:
          type: string
          nullable: true
          description: Default value for the field (camelCase alias).
      required:
        - name
        - label

    HumanInterventionRequest:
      type: object
      description: A pending human-in-the-loop request from the agent.
      properties:
        requestId:
          type: string
          description: Unique identifier for the intervention request. Use this when responding.
        message:
          type: string
          description: The agent's prompt or question for the human operator.
        inputType:
          type: string
          enum: [text, confirm, fields]
          description: Expected response format (camelCase alias).
        fields:
          type: array
          nullable: true
          description: Form fields to collect when `inputType` is `fields`.
          items:
            $ref: '#/components/schemas/HumanInterventionField'
      required:
        - requestId
        - message

    PendingInterventionItem:
      allOf:
        - $ref: '#/components/schemas/HumanInterventionRequest'
        - type: object
          properties:
            sessionId:
              type: string
              description: The browser session that raised the intervention request.
            tags:
              type: array
              items:
                type: string
              description: Tags associated with the session.
          required:
            - sessionId
            - tags

    PendingInterventionsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            count:
              type: integer
              description: Total number of pending intervention requests across active sessions.
            items:
              type: array
              items:
                $ref: '#/components/schemas/PendingInterventionItem'
          required:
            - count
            - items
      required:
        - data

    HumanInterventionRequestsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            status:
              type: string
              description: Operation status (e.g. `success`).
            message:
              type: string
              description: Human-readable status message from the browser agent.
            requests:
              type: array
              description: Pending intervention requests for this session.
              items:
                $ref: '#/components/schemas/HumanInterventionRequest'
          required:
            - status
            - requests
      required:
        - data

    HumanInterventionResponseRequest:
      type: object
      properties:
        requestId:
          type: string
          description: |
            ID of the intervention request to respond to. If omitted, the most recent
            pending request for the session is used.
        response:
          description: |
            Response payload. For `text` input type, pass a string. For `confirm`, pass
            a boolean or confirmation string. For `fields`, pass an object keyed by field name.
          oneOf:
            - type: string
            - type: boolean
            - type: object
              additionalProperties: true
      required:
        - response

    HumanInterventionResponseResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            status:
              type: string
              description: Operation status (e.g. `success`).
            message:
              type: string
              description: Human-readable confirmation from the browser agent.
          required:
            - status
      required:
        - data

    ScreenshotRequestSchema:
      type: object
      properties:
        url:
          type: string
          description: The URL of the webpage to capture.
        width:
          type: integer
          description: The width of the browser viewport in pixels.
        height:
          type: integer
          description: The height of the browser viewport in pixels.
        image_quality:
          type: integer
          description: Quality of the output image, on the range 1-100. 100 will not perform any compression.
        wait:
          type: integer
          description: Duration in milliseconds to wait after page has loaded, mainly used for sites with JS animations.
        scroll_all_content:
          type: boolean
          description: If true, scrolls the page and captures all visible content.
        capture_full_height:
          type: boolean
          description: If true, captures the entire height of the page, ignoring the viewport height.
        s3_target_address:
          type: string
          description: Presigned S3 url target to upload the image to.

    # ==============================
    # OS LEVEL CONTROL SCHEMAS
    # ==============================
    CoordinatesRequestSchema:
      type: object
      required:
        - x
        - y
      properties:
        x:
          type: integer
          description: X coordinate
        y:
          type: integer
          description: Y coordinate

    MouseClickRequestSchema:
      allOf:
        - $ref: '#/components/schemas/CoordinatesRequestSchema'
        - type: object
          properties:
            button:
              type: string
              description: Mouse button to use
              enum: [left, middle, right]

    MouseSingleClickRequestSchema:
      type: object
      description: Mouse click request. Must provide either (x, y) coordinates or a selector, but not both.
      properties:
        x:
          type: number
          description: X coordinate
        y:
          type: number
          description: Y coordinate
        button:
          type: string
          description: Mouse button to use
          enum: [left, middle, right]
        selector:
          type: string
          description: A valid CSS selector for the requested element
        timeout:
          type: number
          description: If a selector was passed, timeout in ms for waiting for the DOM element to be selected. Defaults to 5000 (5 seconds).
        index:
          type: number
          description: If a selector was passed and multiple elements match the selector, the index of the element in the list (0-based). Defaults to 0.

    DragDropRequestSchema:
      type: object
      required:
        - startX
        - startY
        - endX
        - endY
      properties:
        startX:
          type: integer
          description: Starting X coordinate
        startY:
          type: integer
          description: Starting Y coordinate
        endX:
          type: integer
          description: Ending X coordinate
        endY:
          type: integer
          description: Ending Y coordinate
        button:
          type: string
          description: Mouse button to use
          enum: [left, middle, right]

    ScrollRequestSchema:
      allOf:
        - $ref: '#/components/schemas/CoordinatesRequestSchema'
        - type: object
          required:
            - deltaY
          properties:
            deltaX:
              type: integer
              description: Horizontal scroll amount (positive is right, negative is left)
            deltaY:
              type: integer
              description: Vertical scroll amount (positive is down, negative is up)
            steps:
              type: integer
              description: Number of steps to break the scroll into for smoother scrolling
            useOs:
              type: boolean
              description: Whether to use the OS scroll or the Playwright scroll

    TypeTextRequestSchema:
      type: object
      required:
        - text
      properties:
        text:
          type: string
          description: Text to type
        delay:
          type: integer
          description: Delay between keystrokes in milliseconds

    KeyboardShortcutRequestSchema:
      type: object
      required:
        - keys
      properties:
        keys:
          type: array
          description: Array of keys to press simultaneously
          items:
            type: string
        holdTime:
          type: integer
          description: Time to hold the keys down in milliseconds

    ClipboardResponseSchema:
      type: object
      properties:
        data:
          type: object
          properties:
            text:
              type: string
              description: Text content of the clipboard

    ClipboardRequestSchema:
      type: object
      required:
        - text
      properties:
        text:
          type: string
          description: Text to set in the clipboard

    CopyResponseSchema:
      type: object
      properties:
        text:
          type: string
          description: The text that was copied

    PasteRequestSchema:
      type: object
      required:
        - text
      properties:
        text:
          type: string
          description: Text to paste

    NavigateRequestSchema:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          description: The URL to navigate to

    # ==============================
    # EVENT COORDINATION SCHEMAS
    # ==============================
    # Schemas related to event signaling and coordination between workflows/sessions
    WaitForEventRequestSchema:
      type: object
      properties:
        timeoutMs:
          type: integer
          description: Timeout in milliseconds to wait for the event. Defaults to 60000ms (1 minute).

    SignalEventRequestSchema:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: Event data to be passed to waiting clients
          additionalProperties: true
          example:
            message: 'Task completed'
            result: 'success'
            timestamp: '2024-01-01T12:00:00Z'

    EventResponseSchema:
      type: object
      properties:
        data:
          type: object
          description: The event data that was signaled
          additionalProperties: true
          example:
            message: 'Task completed'
            result: 'success'
            timestamp: '2024-01-01T12:00:00Z'

    # ==============================
    # EXTENSION SCHEMAS
    # ==============================
    # Schemas related to browser extension management
    ExtensionManifest:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        manifest_version:
          type: integer
        description:
          type: string
        permissions:
          type: array
          items:
            type: string
      additionalProperties: true

    ExtensionResponseSchema:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the extension
        name:
          type: string
          description: Extension name
        manifest:
          $ref: '#/components/schemas/ExtensionManifest'
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the extension was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the extension was last updated

    ExtensionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionResponseSchema'

    ExtensionResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ExtensionResponseSchema'

    # ==============================
    # CERTIFICATE SCHEMAS
    # ==============================
    # Schemas related to CA certificate management
    CertificateResponseSchema:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the certificate
        name:
          type: string
          description: Certificate name (used to reference in sessions)
        description:
          type: string
          nullable: true
          description: Optional description of the certificate
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the certificate was uploaded

    CertificateListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CertificateResponseSchema'

    CertificateResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CertificateResponseSchema'

    # ==============================
    # BATCH SESSION SCHEMAS
    # ==============================
    # Schemas related to batch browser session management
    BatchSessionRequestSchema:
      type: object
      required:
        - count
      properties:
        count:
          type: integer
          minimum: 1
          maximum: 1000
          description: Number of sessions to create in the batch (1-1000)
        configuration:
          $ref: '#/components/schemas/SessionCreateRequestSchema'
          description: Configuration that applies to all sessions in the batch
        metadata:
          type: object
          additionalProperties: true
          description: Optional batch-level metadata for identification and organization

    BatchSessionResponseSchema:
      type: object
      properties:
        batch_id:
          type: string
          format: uuid
          description: Unique identifier for the batch
        status:
          type: string
          enum: [pending, processing, completed, failed, cancelled]
          description: Current status of the batch
        total_requests:
          type: integer
          description: Total number of sessions requested in the batch
        created_at:
          type: string
          format: date-time
          description: Timestamp when the batch was created

    BatchSessionItemSchema:
      type: object
      properties:
        item_index:
          type: integer
          description: Index of this session within the batch (0-based)
        session_id:
          type: string
          format: uuid
          description: Unique identifier for the browser session (if created successfully)
        status:
          type: string
          enum: [pending, processing, completed, failed, cancelled]
          description: Current status of this individual session
        cdp_url:
          type: string
          description: CDP websocket connection URL (if session is ready)
        live_view_url:
          type: string
          description: Live view URL for the session (if session is ready)
        error:
          type: string
          description: Error message if session creation failed
        retry_count:
          type: integer
          description: Number of times this session creation has been retried
        started_at:
          type: string
          format: date-time
          description: Timestamp when session creation started
        completed_at:
          type: string
          format: date-time
          description: Timestamp when session creation completed
        metadata:
          type: object
          additionalProperties: true
          description: Session-specific metadata

    BatchSessionStatusResponseSchema:
      type: object
      properties:
        batch_id:
          type: string
          format: uuid
          description: Unique identifier for the batch
        status:
          type: string
          enum: [pending, processing, completed, failed, cancelled]
          description: Current status of the batch
        total_requests:
          type: integer
          description: Total number of sessions requested
        completed_requests:
          type: integer
          description: Number of sessions successfully created
        failed_requests:
          type: integer
          description: Number of sessions that failed to create
        processing_requests:
          type: integer
          description: Number of sessions currently being processed
        pending_requests:
          type: integer
          description: Number of sessions waiting to be processed
        created_at:
          type: string
          format: date-time
          description: Timestamp when the batch was created
        actual_completion_time:
          type: string
          format: date-time
          description: Timestamp when the batch completed (if completed)
        error:
          type: string
          description: Error message if batch failed
        sessions:
          type: array
          items:
            $ref: '#/components/schemas/BatchSessionItemSchema'
          description: Array of individual session details
        progress:
          type: object
          properties:
            percentage:
              type: number
              minimum: 0
              maximum: 100
              description: Completion percentage (0-100)
            current_phase:
              type: string
              enum: [queued, provisioning, configuring, ready]
              description: Current processing phase

    BatchSessionListItemSchema:
      type: object
      properties:
        batch_id:
          type: string
          format: uuid
          description: Unique identifier for the batch
        status:
          type: string
          enum: [pending, processing, completed, failed, cancelled]
          description: Current status of the batch
        total_requests:
          type: integer
          description: Total number of sessions requested
        completed_requests:
          type: integer
          description: Number of sessions successfully completed
        failed_requests:
          type: integer
          description: Number of sessions that failed
        created_at:
          type: string
          format: date-time
          description: Timestamp when the batch was created
        actual_completion_time:
          type: string
          format: date-time
          description: Timestamp when the batch completed (if completed)

    BatchSessionListResponseSchema:
      type: object
      properties:
        batches:
          type: array
          items:
            $ref: '#/components/schemas/BatchSessionListItemSchema'
          description: Array of batch session summaries
        pagination:
          type: object
          properties:
            current_page:
              type: integer
              description: Current page number
            total_pages:
              type: integer
              description: Total number of pages
            total_records:
              type: integer
              description: Total number of batch records
            has_next:
              type: boolean
              description: Whether there is a next page
            has_prev:
              type: boolean
              description: Whether there is a previous page

    BatchSessionDeleteResponseSchema:
      type: object
      properties:
        batch_id:
          type: string
          format: uuid
          description: Unique identifier for the batch
        deleted_sessions:
          type: integer
          description: Number of sessions successfully deleted
        failed_deletions:
          type: integer
          description: Number of sessions that failed to delete
        errors:
          type: array
          items:
            type: object
            properties:
              session_id:
                type: string
                description: ID of the session that failed to delete
              error:
                type: string
                description: Error message
          description: Details of deletion failures (only present if there were failures)
        message:
          type: string
          description: Summary message of the deletion operation

    BatchSessionUpdateRequestSchema:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [cancelled]
          description: Target status for the batch

    BatchSessionUpdateResponseSchema:
      type: object
      properties:
        batch_id:
          type: string
          format: uuid
          description: Unique identifier for the batch
        status:
          type: string
          enum: [cancelled]
          description: New status of the batch
        cancelled_sessions:
          type: integer
          description: Number of running sessions that were terminated
        message:
          type: string
          description: Summary message

    BatchSessionRetryRequestSchema:
      type: object
      properties:
        retry_failed_only:
          type: boolean
          default: true
          description: Whether to only retry failed sessions
        max_retries:
          type: integer
          minimum: 1
          maximum: 3
          default: 1
          description: Maximum number of attempts per failed session. Each session is retried up to this many times, stopping on first success.

    BatchSessionRetryResponseSchema:
      type: object
      properties:
        batch_id:
          type: string
          format: uuid
          description: Unique identifier for the batch
        status:
          type: string
          enum: [pending, processing, completed, failed, cancelled]
          description: Current status of the batch after retry
        retried_sessions:
          type: integer
          description: Number of sessions that were retried
        message:
          type: string
          description: Summary message

    # INTEGRATION SCHEMAS
    # ==============================
    # Schemas related to third-party integrations like 1Password
    IntegrationType:
      type: string
      enum:
        - 1PASSWORD
      description: The type of integration

    OnePasswordAllSecretsConfig:
      type: object
      required:
        - load_mode
      properties:
        load_mode:
          type: string
          enum: [all]
          description: Load all secrets from 1Password

    OnePasswordSpecificSecretsConfig:
      type: object
      required:
        - load_mode
        - secrets
      properties:
        load_mode:
          type: string
          enum: [specific]
          description: Load specific secrets from 1Password
        secrets:
          type: array
          items:
            type: string
          minItems: 1
          description: Array of secret references to load
          example: ['op://vault/item/field']

    OnePasswordConfig:
      oneOf:
        - $ref: '#/components/schemas/OnePasswordAllSecretsConfig'
        - $ref: '#/components/schemas/OnePasswordSpecificSecretsConfig'

    OnePasswordIntegration:
      type: object
      required:
        - id
        - type
        - configuration
      properties:
        id:
          type: string
          format: uuid
          description: Unique integration ID
          example: '550e8400-e29b-41d4-a716-446655440000'
        type:
          type: string
          enum: [1PASSWORD]
          description: Integration type
        configuration:
          $ref: '#/components/schemas/OnePasswordConfig'

    Integration:
      oneOf:
        - $ref: '#/components/schemas/OnePasswordIntegration'
      discriminator:
        propertyName: type

    ServiceAccountCredentials:
      type: object
      required:
        - type
        - data
      properties:
        type:
          type: string
          enum: [serviceAccount]
          description: Credential type
        data:
          type: object
          required:
            - serviceAccount
          properties:
            serviceAccount:
              type: string
              description: Service account token
              example: 'ops_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

    CreateIntegrationRequest:
      type: object
      required:
        - name
        - type
        - credentials
      properties:
        name:
          type: string
          minLength: 1
          description: Name for the integration
          example: 'My 1Password Integration'
        type:
          $ref: '#/components/schemas/IntegrationType'
        credentials:
          $ref: '#/components/schemas/ServiceAccountCredentials'

    IntegrationItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique integration ID
          example: '550e8400-e29b-41d4-a716-446655440000'
        name:
          type: string
          description: Integration name
          example: 'My 1Password Integration'
        type:
          $ref: '#/components/schemas/IntegrationType'
        path:
          type: string
          description: Storage path for the integration
          example: 'integrations/team-id/550e8400-e29b-41d4-a716-446655440000'
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the integration was created
          example: '2024-01-01T00:00:00.000Z'

    IntegrationListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            integrations:
              type: array
              items:
                $ref: '#/components/schemas/IntegrationItem'

    IntegrationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            integration:
              $ref: '#/components/schemas/IntegrationItem'

    # ==============================
    # TASK MANAGEMENT SCHEMAS
    # ==============================
    Task:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the task
        name:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          minLength: 1
          maxLength: 255
          description: Task name (letters, numbers, hyphens, and underscores only)
        teamId:
          type: string
          format: uuid
          description: Team identifier that owns this task
        description:
          type: string
          maxLength: 1000
          description: Optional description of the task
        latestVersion:
          type: string
          description: Latest version identifier (draft, latest, or version number)
        code:
          type: string
          description: Base64 encoded task code
        language:
          type: string
          enum: [typescript]
          description: Programming language for the task
        browserConfiguration:
          $ref: '#/components/schemas/SessionConfig'
          description: Browser configuration for task execution
        deleted:
          type: boolean
          description: Whether the task is soft deleted
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Task last update timestamp
      required: [id, name, teamId, latestVersion, code, language, deleted, createdAt, updatedAt]

    TaskMetadata:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the task
        name:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          minLength: 1
          maxLength: 255
          description: Task name
        teamId:
          type: string
          format: uuid
          description: Team identifier that owns this task
        description:
          type: string
          maxLength: 1000
          description: Optional description of the task
        latest:
          type: string
          description: Latest version identifier
        deleted:
          type: boolean
          description: Whether the task is soft deleted
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Task last update timestamp
      required: [id, name, teamId, latest, deleted, createdAt, updatedAt]

    TaskVersion:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the task version
        taskId:
          type: string
          format: uuid
          description: Parent task identifier
        version:
          type: string
          description: Version identifier (draft, latest, or version number)
        code:
          type: string
          description: Base64 encoded task code
        language:
          type: string
          enum: [typescript]
          description: Programming language for the task
        description:
          type: string
          maxLength: 1000
          description: Optional description of the version
        browserConfiguration:
          $ref: '#/components/schemas/SessionConfig'
          description: Browser configuration for task execution
        deleted:
          type: boolean
          description: Whether the version is soft deleted
        createdAt:
          type: string
          format: date-time
          description: Version creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Version last update timestamp
      required: [id, taskId, version, code, deleted, createdAt, updatedAt]

    TaskExecutionResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the execution result
        taskVersionId:
          type: string
          format: uuid
          description: Task version identifier
        version:
          type: string
          description: Version that was executed
        status:
          type: string
          enum: [success, failure, timeout, cancelled, queued, running]
          description: Execution status
        output:
          type: string
          nullable: true
          description: Task execution output
        errorMessage:
          type: string
          nullable: true
          description: Error message if execution failed
        startTime:
          type: string
          format: date-time
          description: Execution start time
        executionTime:
          type: number
          nullable: true
          description: Execution duration in milliseconds
      required: [id, taskVersionId, version, status, startTime]

    CreateTaskRequest:
      type: object
      properties:
        name:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          minLength: 1
          maxLength: 255
          description: Task name (letters, numbers, hyphens, and underscores only)
        code:
          type: string
          pattern: '^[A-Za-z0-9+/]*={0,2}$'
          description: Base64 encoded task code (optional)
        language:
          type: string
          enum: [typescript]
          description: Programming language for the task
        description:
          type: string
          maxLength: 1000
          description: Optional description of the task
        browserConfiguration:
          $ref: '#/components/schemas/SessionConfig'
          description: Browser configuration for task execution
      required: [name, language]

    UpdateTaskMetadataRequest:
      type: object
      properties:
        name:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          minLength: 1
          maxLength: 255
          description: Task name (letters, numbers, hyphens, and underscores only)
        description:
          type: string
          maxLength: 1000
          description: Optional description of the task

    DraftTaskRequest:
      type: object
      properties:
        code:
          type: string
          minLength: 1
          pattern: '^[A-Za-z0-9+/]*={0,2}$'
          description: Base64 encoded task code
        language:
          type: string
          enum: [typescript]
          description: Programming language for the task
        description:
          type: string
          maxLength: 1000
          description: Optional description of the version
        browserConfiguration:
          $ref: '#/components/schemas/SessionConfig'
          description: Browser configuration for task execution
      required: [code]

    PublishVersionRequest:
      type: object
      properties:
        code:
          type: string
          minLength: 1
          pattern: '^[A-Za-z0-9+/]*={0,2}$'
          description: Base64 encoded task code (required for new versions)
        language:
          type: string
          enum: [typescript]
          description: Programming language for the task
        description:
          type: string
          maxLength: 1000
          description: Optional description of the version
        browserConfiguration:
          $ref: '#/components/schemas/SessionConfig'
          description: Browser configuration for task execution

    RunTaskRequest:
      type: object
      properties:
        taskId:
          type: string
          format: uuid
          description: Task identifier
        version:
          type: string
          pattern: '^(draft|latest|\d+)$'
          description: Version to run (draft, latest, or version number)
        sessionId:
          type: string
          format: uuid
          description: Optional existing browser session ID to use for task execution
        async:
          type: boolean
          description: Whether to run the task asynchronously.
        overrideBrowserConfiguration:
          $ref: '#/components/schemas/SessionConfig'
          description: Override browser configuration for this execution
        inputs:
          type: object
          additionalProperties:
            type: string
          patternProperties:
            '^ANCHOR_.*$':
              type: string
          description: Environment variables for task execution (keys must start with ANCHOR_)
        cleanupSessions:
          type: boolean
          description: Whether to cleanup browser sessions after task execution. Defaults to true.
          default: true
      required: [taskId]

    RunTaskByNameRequest:
      type: object
      properties:
        sessionId:
          type: string
          format: uuid
          description: Optional existing browser session ID to use for task execution
        async:
          type: boolean
          description: Whether to run the task asynchronously
        overrideBrowserConfiguration:
          $ref: '#/components/schemas/SessionConfig'
          description: Override browser configuration for this execution
        inputs:
          type: object
          additionalProperties:
            type: string
          patternProperties:
            '^ANCHOR_.*$':
              type: string
          description: Environment variables for task execution (keys must start with ANCHOR_)
        cleanupSessions:
          type: boolean
          description: Whether to cleanup browser sessions after task execution. Defaults to true.
          default: true

    RunTaskV2Request:
      type: object
      properties:
        input_params:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of input parameters for the task
        identity_id:
          type: string
          description: Optional identity ID to use for the task
        session_id:
          type: string
          description: Optional session ID to run the task in
        cleanup_sessions:
          type: boolean
          description: 'Whether to clean up sessions after execution (default: true)'
          default: true
        identity_skip_validation:
          type: boolean
          default: true
          description: |
            When `true` (default), skip profile validation for active identities and reuse the saved
            browser profile. Set to `false` to validate the profile and re-authenticate if it is no
            longer signed in. Pending identities still authenticate on first use.
        sync:
          type: boolean
          default: false
          description: Wait for the task to complete before returning. Defaults to `false`.
      required: [input_params]

    ReauthenticateIdentityRequest:
      type: object
      properties:
        sync:
          type: boolean
          default: true
          description: |
            When `true` (default), wait for authentication to finish and persist the refreshed
            profile before returning. When `false`, start authentication asynchronously.

    ReauthenticateIdentityResponse:
      type: object
      required: [identityId, async]
      properties:
        identityId:
          type: string
          description: The identity that was reauthenticated
        async:
          type: boolean
          description: Whether authentication is still running in the background

    AuthFlowV2StartRequest:
      type: object
      required: [url, host]
      properties:
        url:
          type: string
          format: uri
          description: Landing URL to open in the session (login page).
          example: 'https://example.com/login'
        host:
          type: string
          description: Hostname of `url`. Must match the URL hostname after normalization.
          example: 'example.com'

    AuthFlowV2DecisionResolve:
      title: decision
      type: object
      required: [choice]
      description: Send this when the last presentation was a decision step.
      properties:
        choice:
          type: string
          description: One of `options[].step_id` from the decision view.
          example: 'root/login/google'

    AuthFlowV2FormResolve:
      title: form
      type: object
      required: [option_index, values]
      description: Send this when the last presentation was a form step.
      properties:
        option_index:
          type: integer
          minimum: 0
          description: Index into that form's `options` list.
          example: 0
        values:
          type: object
          additionalProperties:
            type: string
          description: Map of input name → value for the selected option (`options[option_index].inputs` lists the names).
          example:
            username: 'user@example.com'
            password: 'secret'

    AuthFlowV2ResolveRequest:
      oneOf:
        - $ref: '#/components/schemas/AuthFlowV2FormResolve'
        - $ref: '#/components/schemas/AuthFlowV2DecisionResolve'
      description: |
        Body depends on the last `view.type`. Use the `decision` shape or the `form`
        shape — not both.

    AuthFlowV2FinalizeRequest:
      type: object
      properties:
        identity_name:
          type: string
          description: Optional name for the created identity.
        profile_name:
          type: string
          description: Optional browser profile name. Defaults to `profile-<session_id>`.

    AuthFlowV2DecisionOption:
      type: object
      required: [step_id, label, automatable]
      description: |
        One option on a `decision` step. The option's `step_id` is the value to
        send as `choice` on `/resolve`; the decision view's `step_id` identifies
        the step that is asking you to choose.
      properties:
        step_id:
          type: string
          description: Opaque identifier for this option; pass it back as `choice`.
        label:
          type: string
          description: Human-readable name of the login path (e.g. "Continue with Google").
        automatable:
          type: boolean
          description: True if this path is known to be replayable unattended, without a human.

    AuthFlowV2FormOption:
      type: object
      required: [type, automatable]
      description: |
        One way to complete a `form` step. Pick it with `option_index` on `/resolve`.
        `automatable` is true when this option can be replayed unattended (typically
        `credentials`, `totp_secret`, `gmail_one_click_integration`). Captcha, passkey,
        consent, and magic_link are typically false.

        `gmail_one_click_integration`: open `extra_data.create_integration_url` in a
        browser once; it returns a value to send as `values.gmail_tokens` on `/resolve`.
        The token is bound to the Gmail account, not to this flow — reuse it on any
        later email MFA form for that account, across applications, without
        authorizing again.
      properties:
        type:
          type: string
          enum:
            - credentials
            - mfa_totp
            - mfa_sms
            - mfa_email
            - sso
            - captcha
            - consent
            - magic_link
            - passkey
            - generic
            - totp_secret
            - gmail_one_click_integration
        automatable:
          type: boolean
          description: True if this option can be replayed unattended without a human.
        inputs:
          type: array
          items:
            type: object
            required: [name, type]
            properties:
              name:
                type: string
              type:
                type: string
              label:
                type: string
              placeholder:
                type: string
              value:
                type: string
        extra_data:
          type: object
          additionalProperties: true
          description: Type-specific extras. Present only when the option has any.
          properties:
            create_integration_url:
              type: string
              format: uri
              description: On `gmail_one_click_integration`. Browser URL to connect Gmail; see the option description for the token it returns.
            number:
              type: string
              description: On `consent`. Device confirmation number from the live page, when shown.
        message:
          type: string
        provider:
          type: string
        phoneHint:
          type: string

    AuthFlowV2ViewBase:
      type: object
      required: [session_id, host, current_step_label, step_id, cdp_url, live_view_url]
      properties:
        session_id:
          type: string
        host:
          type: string
          description: Hostname the flow was started for.
        current_step_label:
          type: string
          description: Human-readable label of the current login step.
        step_id:
          type: string
          description: Identifier of the current login step.
        cdp_url:
          type: string
          description: CDP websocket URL of the session driving the login.
        live_view_url:
          type: string
          description: URL to watch or take over the session in a browser.
        discovery_error:
          type: string
          description: Set when automatic step detection hit an error. A partial flow may still be presented.

    AuthFlowV2DecisionView:
      title: decision
      allOf:
        - $ref: '#/components/schemas/AuthFlowV2ViewBase'
        - type: object
          required: [type, options]
          properties:
            type:
              type: string
              enum: [decision]
            options:
              type: array
              description: |
                Each item is `{ step_id, label, automatable }`.
                POST `/resolve` with `{ "choice": "<step_id>" }`.
              items:
                $ref: '#/components/schemas/AuthFlowV2DecisionOption'

    AuthFlowV2FormView:
      title: form
      allOf:
        - $ref: '#/components/schemas/AuthFlowV2ViewBase'
        - type: object
          required: [type, options]
          properties:
            type:
              type: string
              enum: [form]
            options:
              type: array
              description: |
                Each item includes `type` and `automatable`.
                POST `/resolve` with `{ "option_index": n, "values": { ... } }`.
              items:
                $ref: '#/components/schemas/AuthFlowV2FormOption'
            credentials_rejected:
              type: boolean
              description: The last submission was rejected (e.g. wrong password) and the same form is re-presented.
            credentials_passed:
              type: boolean
              description: The previous step just cleared. Transient.

    AuthFlowV2DetectionFailedView:
      title: detection_failed
      allOf:
        - $ref: '#/components/schemas/AuthFlowV2ViewBase'
        - type: object
          required: [type, node_status, retryable, message]
          properties:
            type:
              type: string
              enum: [detection_failed]
            node_status:
              type: string
              enum: [detected, failed, explored]
              description: How far the current step has been analyzed.
            last_error:
              type: string
              description: The most recent navigation error, if any.
            retryable:
              type: boolean
              description: True means keep polling `/state`; false means stop and use `live_view_url`.
            message:
              type: string
              description: |
                Why detection stopped. Open `live_view_url` to finish signing in in the browser.
                Do not resolve. If `retryable` is true, you may also poll GET `/state`.

    AuthFlowV2AuthenticatedView:
      title: authenticated
      allOf:
        - $ref: '#/components/schemas/AuthFlowV2ViewBase'
        - type: object
          required: [type]
          properties:
            type:
              type: string
              enum: [authenticated]
            message:
              type: string
              description: Human-readable status. POST `/finalize` to persist the identity.

    AuthFlowV2FailedView:
      title: failed
      allOf:
        - $ref: '#/components/schemas/AuthFlowV2ViewBase'
        - type: object
          required: [type, error, retryable]
          properties:
            type:
              type: string
              enum: [failed]
            error:
              type: string
              description: What went wrong.
            retryable:
              type: boolean
              description: True means keep polling `/state`; false means stop.

    AuthFlowV2View:
      description: |
        Presentation returned by start/resolve. GET `/state` nests the same object as
        `view` when there is something to show. Discriminated on `type`. Call `/resolve`
        only for `decision` or `form`.
      oneOf:
        - $ref: '#/components/schemas/AuthFlowV2DecisionView'
        - $ref: '#/components/schemas/AuthFlowV2FormView'
        - $ref: '#/components/schemas/AuthFlowV2DetectionFailedView'
        - $ref: '#/components/schemas/AuthFlowV2AuthenticatedView'
        - $ref: '#/components/schemas/AuthFlowV2FailedView'
      discriminator:
        propertyName: type
        mapping:
          decision: '#/components/schemas/AuthFlowV2DecisionView'
          form: '#/components/schemas/AuthFlowV2FormView'
          detection_failed: '#/components/schemas/AuthFlowV2DetectionFailedView'
          authenticated: '#/components/schemas/AuthFlowV2AuthenticatedView'
          failed: '#/components/schemas/AuthFlowV2FailedView'

    AuthFlowV2State:
      type: object
      description: |
        Poll this after retryable `detection_failed`, a request timeout, or 409.

        `view` is the same presentation start/resolve return (`type` discriminant).
        When `phase` is `settled`, it is the current step. When `phase` is `navigating`,
        it may already describe the next step so you can render (or answer) before the
        browser finishes moving; it is omitted until there is something to show.

        Call `/resolve` only when `view.type` is `decision` or `form`.
      required:
        - session_id
        - graph_id
        - current_step_id
        - discovery_status
        - phase
        - updated_at
        - nav
      properties:
        session_id:
          type: string
        graph_id:
          type: integer
          description: Internal identifier for this auth flow.
        current_step_id:
          type: string
          description: |
            Identifier of the step the flow last committed. While `phase` is `navigating`,
            `view` may already describe a later step.
        discovery_status:
          type: string
          enum: [in_progress, complete, failed]
          description: Whether automatic detection of the login steps is still running.
        discovery_error:
          type: string
        phase:
          type: string
          enum: [navigating, settled]
          description: |
            `navigating` — a browser transition is in flight; `view` may already be the next step.
            `settled` — idle at a step; `view` is that step.
        updated_at:
          type: number
          description: Unix epoch milliseconds of the last state change.
        target:
          type: object
          description: |
            Step the browser is moving toward. Present only while `phase` is `navigating`.
            Use for progress copy (for example "Preparing {label}…"). Not a second
            presentation — `view` is what to show.
          properties:
            step_id:
              type: string
            label:
              type: string
        nav:
          type: object
          required: [status]
          description: Outcome of the latest navigation operation.
          properties:
            status:
              type: string
              enum: [pending, succeeded, failed, none]
            error:
              type: string
            credentials_rejected:
              type: boolean
        view:
          allOf:
            - $ref: '#/components/schemas/AuthFlowV2View'
          description: |
            What to render or answer. Same shape as start/resolve, derived read-only.

            - `phase: settled` — the current step.
            - `phase: navigating` — the upcoming step, when known; omitted until then.

    AuthFlowV2FinalizeResult:
      type: object
      required: [identityId, profileName, automatable, nonAutomatableReasons]
      properties:
        identityId:
          type: string
        profileName:
          type: string
        automatable:
          type: boolean
          description: |
            Identity-level replay flag. False if any passed form option was not automatable.
            Distinct from `options[].automatable` on `decision`/`form` views, which is per choice.
        nonAutomatableReasons:
          type: array
          description: Why the login cannot be replayed unattended. Empty when `automatable` is true.
          items:
            type: string

    TaskRunStatusV2Response:
      type: object
      properties:
        run_id:
          type: string
          description: The ID of the task run
        status:
          type: string
          enum: [queued, running, success, failure, timeout, cancelled]
          description: Current task run status
        result:
          type: object
          additionalProperties: true
          description: Task output when available
        error:
          type: string
          description: Error message when the run fails
        session_id:
          type: string
          description: Session ID used for this task run
      required: [run_id, status]

    TaskParameterV2:
      type: object
      description: A single input or output parameter for a generated task.
      properties:
        name:
          type: string
          description: The field name/key
        type:
          type: string
          enum: [string, number, boolean, secret, file]
          description: Data type of the parameter
        required:
          type: boolean
          default: true
          description: Whether the parameter is required
        description:
[...]
